*{
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    background: url("https://img.freepik.com/premium-vector/night-with-clouds-weather-app-screen-mobile-interface-design-forecast-weather-background-time-concept-vector-banner_87946-4287.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

#weatherForm input{
    display: flex;
    flex-direction: column;
    place-self: center;
    font-size: 1.3rem;
}
    input[type=submit]{
        background-color: rgba(103, 196, 103, 0.753);
        padding: 0.5rem 1.4rem;
        margin-top: 0.5rem;
    }

.card{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
    padding: 1rem 3rem;
    padding-bottom: 0px;
    background: linear-gradient(to bottom, rgba(92, 64, 216, 0.562), rgba(255, 255, 0, 0.514));
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    max-width: 17rem;
    max-height: 20rem;
    color: rgb(255, 255, 255)
}

.emoji{
    font-size: 5rem;
    margin: -20px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 10px black;
}

.errorDisplay{
    padding: 2rem;
    font-size: 2rem;
}