/*
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.fruits{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(209, 181, 181, 1);
    font-size: 30px;;
}
#foods{
    border: 1px solid black;
}

li{
    font-size: 2rem;
    list-style: decimal;
}

#container{
    border: 1px solid black;
    padding: 1rem;
}
    #container p{
        margin: 0.3rem;
        font-size: 2rem;
    }
        
    #buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    #btn{
        font-size: 2rem;
    }
*/

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#box{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    border: 1px solid black;
}
#box p{
    border: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
}