/*
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.fruits{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(209, 181, 181, 1);
    font-size: 30px;;
}
#foods{
    border: 1px solid black;
}

li{
    font-size: 2rem;
    list-style: decimal;
}

#container{
    border: 1px solid black;
    padding: 1rem;
}
    #container p{
        margin: 0.3rem;
        font-size: 2rem;
    }
        
    #buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    #btn{
        font-size: 2rem;
    }

#box{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    border: 1px solid black;
}
#box p{
    position: relative;
    border-radius: 20px;
    top: 0px;
    left: 0px;
}
*/
*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 1rem;
}

#graph{
    min-height: 10rem;
    max-height: fit-content;
    width: min(500px, 90vw);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0px 4vw;
}

.bar{
    border: 1px solid black;
    font-size: min(3vw, 1rem);
}
