*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.fruits{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(209, 181, 181, 1);
    font-size: 30px;;
}