*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

#container{
    display: flex;
    gap: 1rem;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    width: 9rem;
}

.pending{
    color: gray;
    cursor: pointer;
}

.active{
    color: orange;
    cursor: pointer;
}

.completed{
    color:red;
    cursor: pointer;
}

#taskForm{
    position:absolute;
    size: cover;
    background-color: rgba(0, 0, 0, 0.274);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 1rem;
}

#close{
    position: absolute;
    right: 10px;
    padding: 1rem;
    cursor: pointer;
}