*{
    box-sizing: border-box;
}

.image-container{
    margin: auto;
    position: relative;
}
    .image-container button{
        background: black;
        border: none;
        color: white;
        padding: 0.5rem 0.8rem;
        border-radius: 100%;
        position: absolute;
        cursor: pointer;
    }
        .image-container button:hover{
            transform: scale(1.1);
        }

.image-container .slides{
    animation: image 0.5s ease-in-out;
    width: 100%;
    max-height: 20rem;
    display: none;
}

.prev{
    top: 40%;
    left: 5px;
}
.next{
    top: 40%;
    right: 5px;
}

@keyframes image{
    0%{
        opacity: 0.5;
    }
    100%{
        transform: translateX(-100rem);
    }
}
