*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    font-family: sans-serif;
    width: clamp(80vw, 90vw, 100%);
}

.container{
    border: 5px solid blue;
    border-radius: 10px;
    padding: 2rem 20px;
    width: clamp(16rem, 21rem, 100%);
}

.display{
    padding: 0.8rem 0.3rem;
    display: flex;
    justify-content: end;
    border: 5px solid gray;
    border-radius: 10px;
    margin-bottom: 2rem;
}
    .display p{
        font-size: clamp(1px, 2.2rem, 3rem);
        margin: 0;
        overflow-wrap: anywhere;
        word-break: normal;
    }

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}
    .buttons button{
        font-size: clamp(1px, 1.8rem, 2.5rem);
        padding: 0.3em 0.1em;

    }
        .equal{
            grid-row: 3 / span 2;
            grid-column: 5;
        }
        
