*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopwatch-container{
    width: 25em;
}

p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}

.wrapper{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid gray;
}

#time{
    font-weight: bold;
    color: rgb(63, 63, 63);
    font-size: 50px;
}

.operations{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}
    .operations button{
        padding: 5px 20px;
        border-radius: 5px;
        border:none;
        color: white;
        cursor: pointer;
        transition: transform 0.25s ease;
    }
        .operations button:hover{
            transform: scale(1.1);
        }
        #start{
            background: rgb(75, 182, 75);
        }
        #stop{
            background: rgb(201, 98, 98);
        }
        #reset{
            background: rgb(248, 5, 5);
        }
